<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.server.mshow.dao.CommentMapper">

    <select id="getComment" parameterType="java.lang.Integer" resultType="com.server.mshow.domain.Comment">
        SELECT
            `comment`.`cid`,
            `comment`.`uid`,
            `comment`.`object_id`,
            `comment`.`object_type`,
            `comment`.`content`,
            `comment`.`timestamp`,
            `comment`.`like`,
            `user_info`.`name`,
            `user_info`.`avatar`
        FROM  `comment`
        LEFT JOIN  `user_info`
        ON  `comment`.`uid` = `user_info`.`uid`
        WHERE  `comment`.`cid` = #{cid}
    </select>

    <select id="getCommentListByObject" parameterType="java.lang.Integer" resultType="com.server.mshow.domain.Comment">
        SELECT
            `comment`.`cid`,
            `comment`.`uid`,
            `comment`.`object_id`,
            `comment`.`object_type`,
            `comment`.`content`,
            `comment`.`timestamp`,
            `comment`.`like`,
            `user_info`.`name`,
            `user_info`.`avatar`
        FROM  `comment`
        LEFT JOIN `user_info`
        ON `comment`.`uid` = `user_info`.`uid`
        WHERE  `comment`.`object_id` = #{object_id}
    </select>

    <insert id="createComment" parameterType="com.server.mshow.domain.Comment">
        INSERT  INTO  `comment`
        ( `uid`,`object_id`, `object_type`, `content`, `timestamp`, `like`)
        VALUES
        ( #{uid}, #{object_id}, #{object_type}, #{content}, #{timestamp}, #{like})
    </insert>

    <delete id="cancelComment" parameterType="java.lang.Integer">
        DELETE  FROM  `comment` WHERE `cid` = #{cid}
    </delete>

</mapper>